*{
    margin: 0;
    padding: 0;
}
main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main img{
    width: 100%;
}
h1{
    font-size: 50px;
    margin: 30px;
    color: yellow;
}
p{
    margin: 30px;
}

footer{
    background-color: black;
    height: 100%;
    font-size: 40px;
    color: red;
    text-align: center;
    margin-top: 20px;
}
section{
    height: 300px;

    background-color: brown;
}
